/*/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */
#form-input {
  margin-top: 8px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
  position: fixed;
  opacity: .8;
}

nav:hover {
  opacity: 1;
}

#logo-container {
  width: 15%;
  height: 90%;
  top: 7%;
  display: block;
  background: url('../images/greenpeople.jpg') center no-repeat;
  overflow: hidden;
  background-size: contain;
}

#index-banner {
  background-color: rgba(255,100,0,.8);
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.collapsible-header {
  height: auto;
}

.button-text {
  font-size: 1.4rem;
}

.modal {
  /*helps with scrolling on iOS devices*/
  -webkit-overflow-scrolling: touch;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.99);
}
  .parallax-container .section {
    width: 100%;
  }

.diamond {
  padding-left: 36px;
}

.footer-color {
  background-color: #EA0087;
}

.margin-collapse {
  margin: 0;
}

.footer-text {
  font-size: 1.0rem;
}

/* Media Queries*/
@media only screen and (max-width : 992px) {

  .modal {
    width: 80%;
    height: 85%;
    /*helps with scrolling on iOS devices*/
    -webkit-overflow-scrolling: touch;
  }

  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
  #logo-container {
    height: 0;
  }

}

@media only screen and (max-width : 644px) {
  .margin-collapse {
  margin: inherit;
  }

  .modal {
    width: 80%;
    height: 85%;
    /*helps with scrolling on iOS devices*/
    -webkit-overflow-scrolling: touch;
  }

  .hidden {
    display: none;
  }

  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    min-height: 469px;
  }

  #logo-container {
  height: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 404px) {
  .margin-collapse {
  margin: inherit;
  }

  .modal {
    width: 80%;
    height: 85%;
    /*helps with scrolling on iOS devices*/
    -webkit-overflow-scrolling: touch;
  }
  .hidden {
    display: none;
  }

  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    min-height: 500px;
  }

  #logo-container {
  height: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}