/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#form-input {
  margin-top: 8px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
  position: fixed;
  opacity: .8;
}

nav:hover {
  opacity: 1;
}


#logo-container {
  width: 15%;
  height: 90%;
  top: 7%;
  display: block;
  background: url('../images/greenpeople.jpg') center no-repeat;
  overflow: hidden;
  background-size: contain;
}

#index-banner {
  background-color: rgba(255,100,0,.8);
}

p {
  line-height: 1.5rem;
  font-size: .7em;
}

/*#input_text {
  color: #212121;
}*/

.collapsible-header {
  height: auto;
}

/* label color */
/* .input-field label {
   color: #EA0087;
 }
*/ /* label focus color */
/* .input-field input[type=text]:focus + label {
   color: #EA0087;
 }
*/ /* label underline focus color */
/* .input-field input[type=text]:focus {
   border-bottom: 1px solid ##EA0087;
   box-shadow: 0 1px 0 0 ##EA0087;
 }
*/

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.99);
}
  .parallax-container .section {
    width: 100%;
  }

.diamond {
  padding-left: 36px;
}

.footer-color {
  background-color: #EA0087;
}

.margin-collapse {
  margin: 0;
}

.footer-text {
  font-size: 1.2em;
}

/* Media Queries*/
@media only screen and (max-width : 992px) {
  p {
    font-size: .8em;
  }

  .margin-collapse {
  margin: inherit;
  }

  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
  #logo-container {
    height: 0;
  }
}

@media only screen and (max-width : 644px) {
  p {
    font-size: .9em;
  }

  .margin-collapse {
  margin: inherit;
  }

  .hidden {
    display: none;
  }

  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    min-height: 469px;
  }

  #logo-container {
  height: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 404px) {
  p {
    font-size: 1em;
  }

  .hidden {
    display: none;
  }

  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    min-height: 500px;
  }

  #logo-container {
  height: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
